*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.container{
  width: 100%;
  max-width: 540px;
  background-color: rgb(190, 231, 231);
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}
#todo-list{
    width: 300px;
    margin: 0 auto;
    text-align: center;
}
#todo-list input{
  border-radius: 10px;
}
#todo-list button{
  margin-top: 5px;
}
ul{
    list-style-type: none;
    padding: 0;
 }
li{
     margin: 10px 0;
     background-color: #f7f7f7;
     border: 1px solid #ddd;
     border-radius: 10px;
     padding: 10px;
     display: flex;
     align-items: center;
    justify-content: space-between;
 }
  li label{
      flex: 1;
      text-align: left;
      font-size: 16px;
  }
  li input[type="checkbox"] {
      margin-right: 10px;
  }
  button {
      background-color: #ff6347;
      color: white;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
  }
  button:hover {
      background-color: #ff4136;
  }
  input[type="text"] {
      width: 100%;
      padding: 8px;
      font-size: 16px;
  }
